

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) { /* 575px */
    
    
    .slider .slide-content
    {
        height:231px; 
    }
    
    
    
} 
@media only screen and (max-width: 700px) {
    .nav .nav-list
    {
        display:none;
    }
    .nav-menu .icon
    {
        display:block;
    }
} 
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) {
    
    
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
    .sitemap, article, our-awesome
    {
        width:33.33333%; 
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
